<!doctype html>
<html  lang="es">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <title>Preguntero - categorias</title>
  </head>
<body class="container">
    <h1>Categorias</h1>
    <form method="GET" action="/pregunta">
    <% @categorias.each_with_index do |categoria, idx| %>
      <input class="btn btn-secondary" style="background-color: hsl(<%=(30*idx)%>, 60%, 60%)" id=<%=categoria.downcase%> name="categoria" type="submit" value=<%=categoria%> />
    <%end%>
 </form>
</body>
</html>
