
<!doctype html>
<html  lang="es">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <title>Hello world</title>
  </head>
<body class="container">
  <h1>Resultado</h1>
  <div class="alert <%= @resultado == 'OK' ? 'alert-success' : 'alert-danger' %>">
    <h2><%=@resultado%></h2>
  </div>

  <a href="/" class="btn btn-primary">Volver a jugar</a>
</body>
</html>
